@font-face {
    font-family: "ITC Machine Std";
    src:
        url("./fonts/MachineStd-Bold.woff2") format("woff2"),
        url("./fonts/MachineStd-Bold.woff") format("woff"),
        url("./fonts/MachineStd-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Orbitron";
    src:
        url("./fonts/Orbitron-Regular.woff2") format("woff2"),
        url("./fonts/Orbitron-Regular.woff") format("woff"),
        url("./fonts/Orbitron-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";
    src:
        url("./fonts/Poppins-Medium.woff2") format("woff2"),
        url("./fonts/Poppins-Medium.woff") format("woff"),
        url("./fonts/Poppins-Medium.ttf") format("truetype");
}

:root {
    --red: #b20d30ff;
    --blue: #40607bff;
    --navy: #252b37ff;
    --grey: #939393ff;
    --white: #fbfeecff;
}

* {
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    max-height: 100vh;
    min-height: 95vh;
    background-color: var(--navy);
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
}

header {
    font-family: "ITC Machine Std", Impact, sans-serif;
    font-size: 3rem;
    color: var(--red);
    -webkit-text-stroke: 2.5px var(--white);
}

main {
    display: grid;
    column-gap: 7rem;
    font-family: "Orbitron", serif;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    color: var(--white);
    background-color: var(--blue);
    padding: 3rem 5rem;
}

main.game-screen {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        "player-header cpu-header"
        "player-gameboard cpu-gameboard";
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 2px;
    background-color: var(--white);
    margin: 0.5rem;
    border: 2px solid var(--white);
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: var(--grey);
    font-size: 6rem;
}

.cell.editable:hover {
    border: 2px solid var(--white);
    cursor: crosshair;
}

#player-header {
    grid-area: player-header;
}

#player-gameboard {
    grid-area: player-gameboard;
}

#cpu-header {
    grid-area: cpu-header;
}

#cpu-gameboard {
    grid-area: cpu-gameboard;
}

h1 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

h2 {
    margin-top: 0;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.685);
}

p {
    margin: 0;
    font-family: "Poppins", sans-serif;
    letter-spacing: 0;
}

.miss::before,
.hit::before {
    content: "•";
}

.miss::before {
    color: var(--white);
}

.hit::before {
    color: var(--red);
}

.ship {
    background-color: rgb(83, 83, 83);
}

.sunk {
    background-color: var(--red);
}

.img-btn {
    background-color: transparent;
    border: none;
    width: fit-content;
    height: fit-content;
}

.img-btn:hover {
    filter: brightness(0.6);
}

.game-over-screen {
    background-color: transparent;
    justify-items: center;
    font-family: "ITC Machine Std", Impact, sans-serif;
    font-size: 6rem;
    color: var(--red);
    -webkit-text-stroke: 4px var(--white);
}

body:has(main.game-over-screen) header {
    display: none;
}
